body {
  margin: 0;
  background-color: #eee
}

body * {
  margin: 0;
}

/* Header */
.color-app {
  font-family: 'Raleway', sans-serif;
}

.color-app#header, .color-app#fade {
  margin: 0;
  background: linear-gradient(135deg, rgb(247, 223, 164) 0%, hsla(325, 71%, 70%, 0.7) 50%, hsla(236, 67%, 55%, 0.5) 100%);
  text-align: center;
  height: 70px;
}

.color-app.name {
  font-size: 30px !important;
}

.color-app#fade {
  position: absolute;
  height: 50px;
  top: 20px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #eee);
}

.color-app#header * {
  display: inline-block;
  margin: 0 10px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.color-app#header i.color-app {
  font-size: 25px;
}

.color-app#header h1.color-app {
  letter-spacing: 10px;
  font-weight: normal;
  margin: 0 10px !important;
  color: #000;
}

/* Enter URL */

.color-app#enter-url {
  display: grid;
  grid-template-columns: 3fr minmax(auto, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'textarea textarea'
    'input button';
  margin: 20px 25%;
  text-align: center;
  font-size: 20px;
}

.color-app#enter-url div.color-app {
  grid-area: textarea;
}

.color-app#enter-url input.color-app {
  grid-area: input;
  margin: 20px;
  height: 20px;
}

.color-app#enter-url .color-app.button {
  grid-area: button;
  margin: 20px;
  height: 20px;
  width: 50px;
  border: 1px solid black;
  border-radius: 10%;
  color: #000;
  background: linear-gradient(135deg, rgb(247, 223, 164) 0%, hsla(325, 71%, 70%, 0.3) 50%, hsla(236, 67%, 55%, 0.2) 100%);
  padding: 3px;
  font-size: 15px;
  text-decoration: none;
}

.color-app#iframe {
  width: 90% !important ;
  height: 80vh !important;
  overflow: scroll !important;
  border: 2px solid #ccc;
  padding: 2px;
  position: absolute;
  top: 220px;
  left: 5%;
}

.color-app#iframe body {
  background-color: blue;
}

.color-app.color-row {
  display: flex;
  justify-content: center;
}

.color-app.swatch {
  width: 100px;
  height: 80px;
  text-align: center;
  display: inline-block;
  margin: 0 min(10%, 15px);
}

.color-app.color {
  line-height: 30px;
}

button.color-app {
  margin: auto !important;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 100px);
  top: 175px;
  background-color: #ddd;
  width: 200px;
  border-radius: 5px;
}