body {
  margin: 0;
  background-color: #eee;
}

body * {
  margin: 0;
}

/* Header */
.color-app {
  box-sizing: border-box;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Kiwi Maru', serif;
}

.color-app#header, .color-app#fade {
  margin: 0;
  background: linear-gradient(135deg, rgb(247, 223, 164) 0%, hsla(325, 71%, 70%, 0.7) 50%, hsla(236, 67%, 55%, 0.5) 100%);
  text-align: center;
  height: 70px;
}

.color-app.name {
  font-size: 30px !important;
}

.color-app#fade {
  position: absolute;
  height: 50px;
  top: 20px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #eee);
}

.color-app#header * {
  display: inline-block;
  margin: 0 10px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.color-app#header i.color-app {
  font-size: 25px;
}

.color-app#header h1.color-app {
  letter-spacing: 10px;
  font-weight: normal;
  margin: 0 10px !important;
  color: #000;
}

/* Enter URL */

.color-app#enter-url {
  display: grid;
  grid-template-columns: 500px 50px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'textarea nothing'
    'input button';
  margin: 30px calc(50% - 250px);
  text-align: center;
  font-size: 20px;
}

.color-app#enter-url div.color-app {
  grid-area: textarea;
  margin-bottom: 20px;
  font-size: 18px;
}

.color-app#enter-url input.color-app {
  grid-area: input;
  margin: 0 10px;
  height: 25px;
  width: 480px;
}

.color-app#enter-url .color-app.button {
  grid-area: button;
  margin: 0;
  height: 25px;
  width: 30px;
  border: 1px solid #888;
  border-radius: 5%;
  color: #333;
  background-color: rgb(231, 228, 228);
  font-size: 15px;
  line-height: 23px;
  text-decoration: none;
}

.color-app#enter-url .color-app.button:hover {
  background-color: rgb(206, 205, 205);
}

.color-app#iframe {
  width: 90% !important ;
  height: 70vh !important;
  overflow: scroll !important;
  border: 2px solid #ccc;
  padding: 2px;
  position: absolute;
  top: 270px;
  left: 5%;
}

.color-app#iframe body {
  background-color: blue;
}

.color-app.color-row {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-app.swatch {
  width: 120px;
  text-align: center;
  display: inline-block;
  margin: 0 min(10%, 25px);
}

.color-app.selector {
  margin-bottom: 6px;
}

.color-app.swatch .radio {
  text-align: left;
  margin-left: 8px;
}

.color-app.swatch label {
  font-size: 12px;
  margin-left: 3px;
}

.color-app.swatch i {
  cursor: pointer;
}

.color-app.color {
  line-height: 30px;
}

.color-app.add-swatch {
  height: 20px;
  width: 20px;
  line-height: 20px;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 0;
}

.color-app.generate-colors {
  margin: auto !important;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 100px);
  top: 220px;
  background-color: #ddd;
  width: 200px;
  border-radius: 5px;
}